<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TagBy Example</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.demoapp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.example.demoapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tagbyexample</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>TagbySDK.bundle/Courgette-Regular.ttf</string>
		<string>TagbySDK.bundle/Roboto-Bold.ttf</string>
		<string>TagbySDK.bundle/Roboto-BoldItalic.ttf</string>
		<string>TagbySDK.bundle/Roboto-Regular.ttf</string>
		<string>TagbySDK.bundle/Roboto-Italic.ttf</string>
		<string>TagbySDK.bundle/Roboto-Light.ttf</string>
		<string>TagbySDK.bundle/Roboto-LightItalic.ttf</string>
		<string>TagbySDK.bundle/Roboto-Medium.ttf</string>
		<string>TagbySDK.bundle/Roboto-MediumItalic.ttf</string>
		<string>TagbySDK.bundle/Roboto-Thin.ttf</string>
		<string>TagbySDK.bundle/Roboto-ThinItalic.ttf</string>
		<string>TagbySDK.bundle/OpenSans-Bold.ttf</string>
		<string>TagbySDK.bundle/OpenSans-BoldItalic.ttf</string>
		<string>TagbySDK.bundle/OpenSans-Regular.ttf</string>
		<string>TagbySDK.bundle/OpenSans-Italic.ttf</string>
		<string>TagbySDK.bundle/OpenSans-Light.ttf</string>
		<string>TagbySDK.bundle/OpenSans-LightItalic.ttf</string>
		<string>TagbySDK.bundle/OpenSans-Semibold.ttf</string>
		<string>TagbySDK.bundle/OpenSans-SemiboldItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
